@font-face {
  font-family: 'Cascadia Code';
  src: local('Cascadia Code'), url('~@/fonts/Cascadia.woff') format('woff'), url('~@/fonts/Cascadia.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-variant-ligatures: contextual;
}
